.btn {
    background-color: white;
    border: none;
    color: grey;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      background-color: rgb(242, 237, 228);
    }
  }

  .danger {
    //border: 1px solid red;
    color: red;
    background-color: white;
  }
  
  .success {
    //border: 1px solid orange;
    color: orange;
    background-color: white;
  }
